
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

    font-family: 'Roboto', arial;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.navbar {
    display: flex;
    padding: 16px;
    background-color: navy;
    min-width: 80%;

    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}